@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

/* styles/globals.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(253, 253, 253);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.logo a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  transition: transform 0.3s ease-in-out;
}

.nav-links ul {
  display: flex;
  list-style: none;
}

.nav-linkmenu {
  margin-left: 15px;
}

.nav-linkmenu {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.nav-linkmenu:hover {
  background-color: #f4f4f4;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  height: 2px;
  width: 25px;
  background-color: black;
  margin: 3px 0;
  transition: 0.4s;
}

/* Hamburger menu cross animation */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
      position: fixed;
      right: 0;
      top: 0;
      height: 100%;
      width: 50%;
      background-color:  #2967da;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
  }
  .logo a{
    font-size: 18px;
  }

  .nav-links ul {
      flex-direction: column;
      width: 100%;
  }

  .nav-linkmenu {
      text-align: center;
      color: white;
      margin: 10px 0;
  }

  .nav-links.active {
      transform: translateX(0);
  }

  .hamburger {
      display: flex;
  }
}



/*  hero  */

.full-width {
  width: 100%;
  background-color: #2967da;
  padding: 20px;
  text-align: center;
  color: white;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.hero-image,
.hero-content {
  flex: 1 1 50%;
  padding: 20px;
}


.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 100%;
  height: auto;
  border-radius: 0px 139px 0px 39px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:white;
  text-align: center;
}
.hero-title{
font-size: 31px;
font-weight: bold;
}
.hero-description{
  font-size: 25px;
  text-decoration: underline;
}
.hero-benefits li{
  font-size: 18px;
font-weight: bold;
margin: 20px 0;
}
.offer {
  width: 100%;
  background-color:  #2967da;
  color: white;
  padding: 20px;
  font-size: 44px;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .hero-image,
  .hero-content {
    flex: 1 1 100%;
  }
}
/*  service */
.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  
}

.full-width {
  width: 100%;
  
  padding: 20px;
  text-align: center;
  color: white;
}
.full-width h1{
  font-size: 22px;
}

.service-page {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.niche {
  flex: 1 1 300px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.1);
}
.niche  h2{
  font-size: 26px;
}
.niche-image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 250px;
  background-color: #f0f0f0;
}



.ending {
  text-align: center;
  margin-top: 40px;
  color: white;
}

@media (max-width: 768px) {
  .hero-image,
  .hero-content {
    flex: 1 1 100%;
  }
}
/* About page styles */
.main-heading {
  
  text-align: center;
  margin-bottom: 20px;
}
.main-heading{
  font-size: 22px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  font-size: 22px;
}

.about-content img {
  margin-bottom: 20px;
}

.about-info {
  max-width: 800px;
  text-align: center;
  padding: 0 10px;
}

.about-info h1,
.about-info h2 {
  margin-bottom: 20px;
}

.mission {
  max-width: 800px;
  background-color: #2967da;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-right: 10px;
}

.mission h1 {
  margin-bottom: 10px;
}

.mission p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.mission p:last-child {
  margin-bottom: 0;
}

/*Contact*/
.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: grey;
}

/* Contact page styles */
.contact-page {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

.intro {
  text-align: center;
  margin-bottom: 40px;
}
.intro h1{
  font-size: 24px;
  color: white;
}
.intro p{
  color: white;
}
.contact-form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='text'],
input[type='tel'],
input[type='email'] {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color:  #2967da;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:  #2967da;
}

.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 123, 255, 0.9);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  width: 100%;
}



/*  Footer   */
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.about, .links, .contact {
  margin: 20px;
  flex: 1;
  min-width: 200px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

p {
  font-size: 1em;
  line-height: 1.6;
}

.links ul {
  list-style-type: none;
  padding: 0;
}

.links ul li {
  margin: 10px 0;
}

.links ul li a {
  color: #fff;
  text-decoration: none;
}

.links ul li a:hover {
  text-decoration: underline;
}

.contact p {
  margin: 10px 0;
}

.contact p:last-child {
  margin-bottom: 0;
}

.copyright {
  border-top: 1px solid #444;
  padding-top: 20px;
  margin-top: 20px;
  font-size: 0.9em;
}
.ending{
text-align: center;
padding: 5px 20px;
margin: 20px 0;
}
.ending h1{
  font-size: 25px;
  font-weight: 800;
  font-family: serif;
}
.ending h2{
  font-size: 20px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*   WhatsApp   */
.whatsapp-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-button:hover {
  background-color: #128C7E;
}

.whatsapp-icon {
  width: 2rem;
  height: 2rem;
}


.call-us-button {
  position: fixed;
  right: 20px;
  bottom: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #065dff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.call-us-button img {
  width: 30px;
  height: 30px;
}
/* styles/Customer FeedBack */

.customer-feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #065dff;
 
}

.feedback-item {
  flex: 1 1 10%;
  height: 120px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feedback-text {
  font-size: 14px;
  margin-bottom: 5px;
}

.customer-name {
  font-size: 12px;
  color: #777;
}

/* Responsive Design */

@media (max-width: 768px) {
  .feedback-item {
    flex: 1 1 100%;
    width: 90%;
  }
}
